# Environment Variables
.env
api-gateway/.env
frontend/.env
worker-service/.env

# Dependencies
node_modules/
api-gateway/node_modules/
frontend/node_modules/
worker-service/venv/
worker-service/__pycache__/
worker-service/nlp/__pycache__/
worker-service/scrapers/__pycache__/
worker-service/utils/__pycache__/

# Developer Specific (Logs & Backups)
worker-service/logs/
worker-service/scrapers/backup/
worker-service/raw_discovery/
worker-service/*.py
!worker-service/main.py

# Build / IDE
dist/
.vscode/
.idea/
.DS_Store
*.log
